.app-wrapper {
    width: 100%;
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-name {
    width: flex;
    background: linear-gradient(to right, #0061ff, #60efff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 3rem;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 1rem;
}

.card {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
}

.text1 {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    margin: 1rem;
}

.emphasize {
    font-weight: 700;
    color: #0061ff /* #127DFF; #30A8FF */
}

.contacts {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    /* background-color: darkslateblue; */
    margin-bottom: 1rem;
    gap: 2rem;
}

.contact-comp {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    border-radius: 100%;
    padding: 0.25rem;
}
.contact-comp:hover {

}
/* @media only screen and (max-width: 500px) {
    .my-name {
        background: linear-gradient(to right, #0061ff, #60efff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
        font-size: 3rem;
        font-weight: 900;
        font-style: normal;
        margin-bottom: 2rem;
    }
} */

/* @media only screen and (min-width: 1080px) {
    .my-name {
        background: linear-gradient(to right, #0061ff, #60efff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
        font-size: 5.5rem;
        font-weight: 900;
        font-style: normal;
        margin-bottom: 2rem;
    }
} */