.exp-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.exp-title {
    width: fit-content;
    background: linear-gradient(to right, #0061ff, #34aeff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    padding: 1rem 0;
}

.exp-header-container:nth-of-type(1) {
    grid-area: header1;
}

.exp-header-container:nth-of-type(2) {
    grid-area: header2;
}

.exp-content-comp:nth-of-type(1) {
    grid-area: text1;
}

.exp-content-comp:nth-of-type(2) {
    grid-area: text1;
}

.exp-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: baseline;
}
  
.exp-content-comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    /* background-color: maroon; */
}

.exp-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.exp-text1 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.exp-text2 {
    font-family: 'Consolas';
    font-style: italic;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
}

.exp-text3 {
    font-style: normal;
    margin: 0.75rem 0 2rem 0;
}

.divider {
    grid-area: divider;
    border-bottom: 1px solid #ffffff80;
}

@media (min-width: 601px) {
    .exp-container {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto auto 1px auto auto;
        grid-template-areas: 
            "header1 text1"
            "header1 text1"
            "divider divider"
            "header2 text2"
            "header2 text2";
        row-gap: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid #ffffff80;
        border-bottom: 1px solid #ffffff80;
    }

    .exp-header {
        background: linear-gradient(to right, #0061ff, #34aeff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
        font-weight: 800;
        font-size: 1.25rem;
        font-style: normal;
        position: relative;
        margin: 0;
    }
    .exp-header::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -0.5rem;
        height: 0.25rem;
        background: linear-gradient(to right, #0061ff, #34aeff);
    }

    .exp-header-mobile {
        display: none
    }
}

@media (max-width: 600px) {
    .exp-container {
        display: column;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto auto 1px auto auto;
        grid-template-areas: 
            "header1 text1"
            "header1 text1"
            "divider divider"
            "header2 text2"
            "header2 text2";
        row-gap: 1.5rem;
        border-top: 1px solid #ffffff80;
        border-bottom: 1px solid #ffffff80;
        padding-bottom: 1rem;
    }

    .exp-header-mobile {
        background: linear-gradient(to right, #0061ff, #34aeff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
        font-weight: 800;
        font-size: 1.25rem;
        font-style: normal;
        position: relative;
        margin: 1rem 0rem 2rem 0rem;
    }
    .exp-header-mobile::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -0.5rem;
        height: 0.25rem;
        background: linear-gradient(to right, #0061ff, #34aeff);
    }

    .exp-header {
        display: none
    }
}
