.home-wrapper {
    width: 80%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: darkslateblue; */
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-name {
    width: fit-content;
    background: linear-gradient(to right, #0061ff, #34aeff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 3.25rem;
    font-weight: 900;
    font-style: normal;
}

.profile-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 3rem 0rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.contact-comp {
    justify-content: center;
    align-items: center;
    color: white;
    border-color: white;
    border-width: 2px;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}
.contact-comp:hover {
    transform: scale(1.25);
}

.resume-link {
    width: fit-content;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #0061ff, #34aeff);
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin-top: 3rem;
    transition: transform 0.3s ease;
}
.resume-link:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.resume-text {
    color: white;
    font-weight: 500;
    padding-right: 1rem;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0rem;
    /* background-color: maroon; */
}

.home-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.quote-text {
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #ffffff80;
    font-family: 'Consolas';
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.5rem 0rem;
}

.emphasize {
    background: linear-gradient(to right, #0061ff, #34aeff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}
.emphasize1 {
    font-weight: 800;
}
.emphasize2 {
    font-size: 1.5rem;
}

.copy-button {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    border-radius: 0.25rem;
    color: white;
    background-color: #404040;
    cursor: pointer;
}

@media (min-width: 601px) {
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 6rem 0 1rem 0;
        gap: 10%;
    }

    .profile-pic {
        max-width: 25rem;
        min-width: 15rem;
        width: 25%;
        height: auto;
        border-radius: 2rem;
    }

    .mobile-profile-pic {
        display: none;
    }
}

@media (max-width: 600px) {
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0 1rem 0;
        gap: 10%;
    }

    .profile-pic {
        display: none;
    }

    .mobile-profile-pic {
        max-width: 25rem;
        min-width: 15rem;
        width: 25%;
        height: auto;
        border-radius: 2rem;
        margin-top: 2rem;
    }
}
