.home-comp {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #12121280;
    backdrop-filter: blur(1px);
    /* background-color: darkslateblue; */
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 6rem 2rem 2rem 2rem;
    gap: 10%;
    /* background-color: red; */
}

.profile-pic {
    width: 25%;
    height: auto;
    border-radius: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: purple; */
}

.my-name {
    width: fit-content;
    background: linear-gradient(to right, #0061ff, #34aeff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 3.25rem;
    font-weight: 900;
    font-style: normal;
}

.profile-text {
    color: white;
    margin: 1.5rem 0rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.contact-comp {
    justify-content: center;
    align-items: center;
    color: white;
    transition: transform 0.3s ease-in-out;
}
.contact-comp:hover {
    transform: scale(1.2);
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
    /* background-color: green; */
}

.home-text {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.quote-text {
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #ffffff80;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1.5rem 0rem;
}

.emphasize {
    font-weight: 700;
    background: linear-gradient(to right, #0061ff, #34aeff); /* #117aff */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* color:#0061ff; #127DFF; #30A8FF; */
}

.copy-button {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    border-radius: 0.25rem;
    color: white;
    background-color: #404040;
    cursor: pointer;
}